:root {
    --bg-color: #eeeeee;
    --text-color: #1a1a1a;

    --font-body: serif;
    --font-heading: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif, Geneva, Tahoma, sans-serif;
    --font-code: monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    color: var(--text-color);
}

p {
    font-family: serif;
    color: var(--color-text);
}

code {
    font-family: monospace;
    color: var(--color-text);
}

body {
    color: var(--bg-color);
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
}

/*
Source - https://stackoverflow.com/a
Posted by Titus, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-07, License - CC BY-SA 3.0
*/

/* .codebox { */
    /* Below are styles for the codebox (not the code itself) */
    /* border:1px solid #555050; */
    /* background-color:#a3a3a3; */
    /* width:300px; */
    /* overflow:auto;     */
    /* padding:10px; */
/* } */
/* .codebox code { */
    /* Styles in here affect the text of the codebox */
    /* font-size:0.9em; */
    /* You could also put all sorts of styling here, like different font, color, underline, etc. for the code. */
/* } */