:root {
    --bg-color: #eeeeee;
    --text-color: #1a1a1a;
    --codeblock-color: #bebebe;

    --content-width: 40em;

    --font-body: Georgia, 'Times New Roman', 'New York', ui-serif, serif;
    --font-heading: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', Geneva, Tahoma, sans-serif;
    --font-code: Menlo, Monaco, SF Mono, Consolas, Courier New, Segoe UI Mono, ui-monospace, monospace;
}

main {
    font-family: var(--font-body);
    color: var(--text-color);
    line-height: 1.6;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    line-height: 1.2;
}

code {
    font-family: var(--font-code);
    max-width: var(--content-width);
    font-size: 14px;
}

pre {
    overflow: auto;
    line-height: 1.2;
    background-color: var(--codeblock-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px;

}

hr {
    height: 0;
    border: 1px solid var(--text-color);
    width: 100%;
}

body {
    color: var(--bg-color);
    margin: 40px auto;
    max-width: var(--content-width);
    padding: 0 10px;
    background-color: var(--bg-colour);
    color: var(--text-color);
}

/* Fluid images - from https://www.zachleat.com/web/fluid-images/ */
img {
  max-width: 100%;
}
img[width][height] {
  height: auto; /* Preserve aspect ratio */
}
img[src$=".svg"] {  /* Let SVG scale without boundaries */
  width: 100%;
  height: auto;
  max-width: none;
}

/* link styles - from https://bjornd.al/ */
a:link {
    color: #0000EE;
    text-decoration: none;
}
a:visited {
    color: #0000EE;
}
a:hover {
    background-color: #0000EE;
    color: #FFFFFF !important;
}

/* Styles for the site header */ 
.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.header-text h1 {
    font-size: 80px;
    line-height: 1;
    margin: 0;
    padding: 0;
}
/* .logo {
  max-height: 100%;
  height: 4.5em;
  width: auto;
  flex-shrink: 0;
} */

/* Styles for the navigation bar */ 
.nav-divider {
    height: 0;
    border: 1px solid var(--text-color);
    margin: 1em 0;
    width: 100%;
}
.nav-list {
ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
}

.post-metadata {
    /* display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%; */
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.postlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}