<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/style.css">
</head>
    <body>
        <header id="top">
            
            <div class="header">
                <div class="header__logo">
                    <a style="text-decoration: none;" href="/">
                    <img src="/site-logo-400px.png" alt="site logo">
                    </a>
                </div>
                <div class="header__text">
                    <a style="text-decoration: none;" href="/">
                    <h1>henry is online</h1>
                    </a>
                    {% include "layouts/site-nav.njk" %}
                </div>
            </div>
        </header>
        <div class="nav-divider"></div>
        <br>
        <main id="main">
            {{ content | safe }}
        </main>
        <br>
        <footer class="site-footer">
            <div class="nav-divider"></div>
                <p style="text-align: center;">
                    <a style="text-decoration: none" href="#top">Back to the top &uarr;</a>
                </p>
        </footer>
    </body>
</html>