---
layout: layouts/base.njk
---
<h1>{{ title }}</h1>
<ul class="post-metadata">
    <li>
        <h4><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></h4>
    </li>
{#
At some pooint, I want to do a few things here:
1. display my posts as a list of posts orgainsed by year. I h 
#}

</ul>

{{ content | safe }}

{# 
{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
    {%- if previousPost %}<li class="links-nextprev-prev">← Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
    {%- if nextPost %}<li class="links-nextprev-next">Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %} 
#}
